<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table">
        <tr>
          <th>Filename</th>
          <td class="text-center"><%= @file_analysis.filename %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td class="text-center"><%= @file_analysis.status %></td>
        </tr>
        <tr>
          <th>Analyzed Rows</th>
          <td class="text-center"><%= @file_analysis.analyzed_rows %></td>
        </tr>
      </table>
    </div>
  </div>
</div>